html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

button {
    border: 0;
    display: block;
    color: #FFF;
    background: rgba(43, 203, 186, 1.0);
    width: 100%;
    padding: 0 12px;
    text-transform: capitalize;
    text-align: left;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 1px 1px 0px 0 #0fb9b1;
    border-radius: 12px;
    margin: 6px 0;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
}

button span:first-of-type {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

button span:last-of-type {
    float: right;
    font-size: 12px;
}

.canvas {
    width: 100%;
    height: 100%;
    background: rgba(209, 216, 224, 0.2);
    padding-top: 48px;
}

.canvas>div {
    display: none;
}

.canvas>div.active {
    display: block;
    overflow: auto;
    height: 100%;
    padding: 12px;
}

.canvas>div>h3 {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 -12px;
    height: 48px;
    line-height: 48px;
    z-index: 9;
    background: #0fb9b1;
    font-size: 24px;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: 400;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Bungee', cursive;
}

.canvas>div>h3>i {
    position: absolute;
    left: 12px;
}

.games>div {
    background:
}





/* GAME */

.game>.header {
    background: #2bcbba;
    margin: -12px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 12px;
  
}

.game>.header span {
    display: block;
}

.game>.home-team-header,
.game>.away-team-header {
    display: block;
    padding: 24px 0 6px 0;
    font-family: 'Bungee', cursive;
    opacity: 0.5;
    font-size: 11px;
}

.game > .home-team, 
.game > .away-team {
    position: relative;
    height: 80%;
}

.game .player {
    display: table;
    table-layout: fixed;
    width: 100%;
    background: #fff;
    margin: 2px 0;
    height: 9%;
    font-size: 13px;
    border-radius: 12px;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.1); 
}

.game .player>* {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 12px;
    color: #0fb9b1;
}

.game .player i {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    width: 48px;
}

.game .player i.sel,
.game .player.selected i.no {
    display: none;
}

.game .player i.no,
.game .player.selected i.sel {
    display: table-cell;
}